/* css styles */

.teaching-grid {
  display: grid;
  gap: 1.5rem;
  margin: 2rem 0;
}

.course {
  padding: 1rem;
  border-left: 3px solid #2c3e50;
  background-color: #f8f9fa;
}

.course h3 {
  color: #2c3e50;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.course ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.course li {
  margin: 0.5rem 0;
}

.institution {
  color: #666;
  font-style: italic;
  margin-top: 0.25rem;
}


.experience-container {
  margin-left: 0.5rem;
  border-left: 3px solid #2c3e50;
  padding-left: 0rem;
}

.project {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 4px;
}

/*.project strong {
  color: #2c3e50;
  display: block;
  margin-bottom: 0.5rem;
}*/

h3 {
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

a {
    color: #4682B4;
    text-decoration: underline;
}
